name: Playwright-Test-Demo
on:
  workflow_dispatch:
    inputs:
      baseURL:
        description: Only set if run test on Vercel URL.
      environment:
        type: choice
        description: The environment to run test.
        options:
          - QA
          - STAGING
        default: QA
      workers:
        description: Number of workers to run test in parrallel.
        default: 1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - uses: actions/setup-node@v1
          with:
            node-version: 18
        - name: Install
          run: |
               npm install
               npx playwright install
        - name: Test
          run: baseURL='${{github.event.inputs.baseURL}}' env='${{github.event.inputs.environment}}' npx playwright test --workers='${{github.event.inputs.workers}}'
        - name: Upload artifact
          uses: actions/upload-artifact@v2
          if: failure()
          with:
            name: logs
            path: playwright-report
